<h1 align="center">{{title}} de la Bodega {{this._parametros.idBodega}}</h1>


<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <form class="animated bounceIn" (ngSubmit)="crearItem(NuevoItemForm)" #NuevoItemForm="ngForm">

        <div class="form-group">
          <label>Item</label>

          <input required
                 minlength="4"
                 type="text"
                 class="form-control"
                 placeholder="Ingrese el nombre del item"
                 name="nombre"
                 [(ngModel)]="nuevoItem.nombre"
                 #nombre="ngModel"
                 #nombreElm>
        </div>
        <div class="form-group">
          <label>Cantidad</label>
          <input required
                 min="1"
                 type="number"
                 class="form-control"
                 placeholder="Ingrese la cantidad de items"
                 name="cantidad"
                 [(ngModel)]="nuevoItem.cantidad"
                 #nombre="ngModel"
                 #nombreElm>
        </div>
        <div class="form-group">
        <label>Peso (en gramos)</label>

        <input required
               type="number"
               min = "1"
               class="form-control"
               placeholder="Ingrese el peso del item (en gramos)"
               name="peso"
               [(ngModel)]="nuevoItem.peso"
               #nombre="ngModel"
               #nombreElm>
      </div>
        <button [disabled]="disabledButtons.NuevoItemFormSubmitButton||!NuevoItemForm.valid"
                class="btn btn-block btn-success" type="submit">Crear Item
        </button>
      </form>
    </div>
    <div class="col-sm-5 animated flipInX table-bordered ma-margen-top-bottom ma-padding-top-bottom" *ngFor="let item of items">
      <div class="text-center">
        <h3>{{item.nombre}}</h3>
        <p>Cantidad: {{item.cantidad}}</p>
        <p>Peso: {{item.peso}} gramos</p>
      </div>
      <div class="row animated flipInY" >
        <div class="col-sm-5" >
          <button class="btn btn-block btn-info"
                  (click)="disabledButtons.Oculto = false; item.formularioCerrado = !item.formularioCerrado"
          >Actualizar</button>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5">
          <button class="btn btn-block btn-danger" (click)="borrarItem(item.id)">Borrar</button>
        </div>
        <div class="row">
          <div class="col-sm-4"></div>
        </div>
      </div>
      <div class="div" [hidden]="item.formularioCerrado || (disabledButtons.Oculto)">
        <form action="">
          <form class="animated bounceIn" (ngSubmit)="actualizarItem(item)" #NuevoItemForm="ngForm">
            <div  class="form-group">
              <label>Item</label>
              <input required
                     minlength="4"
                     type="text"
                     class="form-control"
                     placeholder="Digite el nuevo nombre del item"
                     name="nombre"
                     [(ngModel)]="item.nombre"
                     #nombre="ngModel"
                     #nombreElm>
              <input required
                     min="1"
                     type="number"
                     class="form-control"
                     placeholder="Digite la nueva cantidad de items"
                     name="cantidad"
                     [(ngModel)]="item.cantidad"
                     #nombre="ngModel"
                     #nombreElm>
              <input required
                     min="1"
                     type="number"
                     class="form-control"
                     placeholder="Digite el nuevo peso del item (en gramos)"
                     name="peso"
                     [(ngModel)]="item.peso"
                     #nombre="ngModel"
                     #nombreElm>
            </div>
            <button [disabled]="disabledButtons.NuevoItemFormSubmitButton||!NuevoItemForm.valid" type="submit"
                    class="btn btn-block btn-success">Actualizar
            </button>
            <button type="button"
                    class="btn btn-block btn-warning"
                    (click)="item.formularioCerrado = !item.formularioCerrado"
            >Cancelar
            </button>
          </form>
        </form>
      </div>
    </div>
  </div>




</div>




<!--<router-outlet></router-outlet>-->

