<div class="container">
  <h1>Bienvenidos</h1>

<div row>
  <div class="jumbotron col-sm-5">
    <h1>Bodegas</h1>
    <p>Registrar Bodegas </p>
    <p><a class="btn btn-primary btn-lg" [routerLink]="['/bodega']" role="button">Listar y Crear Bodegas</a>  </p>
  </div>
  <div class="col-sm-1"> </div>

  <div class="jumbotron col-sm-5">
    <h1>Items</h1>
    <p>Para registrar o listar Items, use el botón "Listar y Crear Bodegas"  </p>
    <h4>Dentro de cada bodega podrá crear o listar items.</h4>
    <!--<p><a class="btn btn-primary btn-lg" [routerLink]="['/item']" role="button">Listar y Crear Items</a>  </p>-->
  </div>

</div>
</div>
