<h1>Bienvenidos</h1>
<div class="container">
<div row>
  <div class="jumbotron col-sm-5">
    <h1>Bodegas</h1>
    <p>Registrar Bodegas </p>
    <p><a class="btn btn-primary btn-lg" [routerLink]="['/bodega']" role="button">Crear Bodegas</a>  </p>
  </div>
  <div class="col-sm-1"> </div>

  <div class="jumbotron col-sm-5">
    <h1>Items</h1>
    <p>Registrar Items </p>
    <p><a class="btn btn-primary btn-lg" [routerLink]="['/bodega','2','item']" role="button">Crear Items</a>  </p>
  </div>

</div>
</div>
